@import "../../../../shared-style/variables.scss";

.partners {
  &-container {
    display: flex;
    flex-direction: row;
    margin: 80px 100px;
    gap: 80px;
  }

  &-text-desc {
    flex: 30%;
    font-weight: 600;
    font-size: 2.8em;
    line-height: 150%;
    text-transform: capitalize;
    color: $font-black-color;
    padding-right: 10px;
  }

  &-imag-container {
    flex: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }

}

@media screen and (max-width: 768px) {
  .partners {
    &-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      margin: 40px;
    }

    &-text-desc {
      flex: 100%;
      text-align: center;
    }

    &-imag-container {
      flex: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }
}
