<div class="hero-contaier">
  <div class="hero-text-container">
    <div class="hero-title-contaier">
      <h2 class="hero-text-title">
        Learn Any Skills to advance your career path
      </h2>
      <img src="../../../../assets/images/Vector 1.svg" alt="line" />
    </div>

    <p class="hero-text-desc">
      Want to improve your work skills? You need to study harder with the help
      of a great mentor to improve your performance at work
    </p>
    <div class="hero-explore-path-container">

        <a class="btn">Explore Path</a>

      <div class="hero-reviews-container">
        <div class="hero-reviews-img-container">
          <img
            class="hero-reviews-img"
            src="../../../../assets/images/people-review.png"
          />
        </div>
        <div class="hero-reviews-text-container">
          <div class="hero-reviews-stars-container">
            <img src="../../../../assets/images/Star.svg" alt="" />
          </div>
          <p class="hero-reviews-text">(4,5/5 dari 10k Alumni)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-img-container">
    <img
    class="hero-img"
      src="../../../../assets/images/Learning - Video Course 1.svg"
      alt="learning vector shape"
    />
  </div>
</div>
