<footer class="footer-container">
  <div class="footer-event-container">
    <h3>Event & Bootcamp</h3>
    <div class="footer-event-container-deails">
      <ul>
        <li> <a routerLink="">  Web Development</a></li>
        <li> <a routerLink="">  Mobile Development</a></li>
        <li> <a routerLink=""> UI Design</a></li>
        <li> <a routerLink=""> UI Research</a></li>
        <li> <a routerLink="">  Presentation</a></li>
      </ul>
      <ul>
        <li> <a routerLink=""> Web Development</a></li>
        <li> <a routerLink=""> Comunication</a></li>
        <li> <a routerLink=""> Digital Marketing</a></li>
        <li> <a routerLink=""> Branding</a></li>
      </ul>
    </div>

  </div>
  <div class="footer-about-container">
    <h3 class="footer-titles">About Owlearn</h3>
    <ul>
      <li> <a routerLink=""> Adminission Info</a></li>
      <li> <a routerLink=""> Article </a></li>
      <li> <a routerLink=""> Group & Referral Program </a></li>
      <li> <a routerLink=""> Careers</a></li>
    </ul>
  </div>
  <div class="footer-about-container">
    <h3 class='footer-titles' >Contact</h3>
    <ul>
      <li> <a class="footer-contact" href="emailto:support@edtech.com"> support@edtech.com</a></li>
      <li> <a class="footer-contact"> (+62) 85923935983 </a></li>
      <li> <a class="footer-contact-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></li>
      <li> <a> <img src="../../../../assets/images/socialIcons.svg" alt=""></a></li>
    </ul>
  </div>
</footer>
<div class="footer-rights-container">
  <p class="footer-ritghts-descr"> Copyright © 2021 Owlearn. All Rights Reserved.</p>
</div>
