@import "/src/styles.scss";
@import "/src/app/app.component.scss";

.gradutes-worked {
  &-title {
    font-weight: 600;
    font-size: 2.6em;
    line-height: 150%;
    letter-spacing: 0.6px;
    color: $font-blackgray-color;
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 100px;
  }
  &-imgs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .gradutes-worked {
    &-container{
      margin: 40px;
    }


}}

