<section class="about-container">
  <figure class="about-image-container">
    <img  class="about-image" src="../../../../assets/images/AboutUs-image.png" alt="" />
  </figure>

  <div class="about-text-container">
    <div class="about-title-container">
      <h2 class="about-title">Owlearn helps you Become Experienced</h2>
    </div>
    <p class="about-desc">
      Owlearn provides e-learning solutions for companies, universities and
      individual professionals. It allows users to create courses, and provides
      an integrated learning management system. Its offerings include digital
      course tools, study materials, IT infrastructure and other operations.
    </p>
    <a class="btn" >Become a Member</a>
  </div>
</section>
