@import "../../../../styles.scss";
@import "../../../app.component.scss";

.cta {
  &-container {
    display: flex;
    flex-direction: row;
    background-color: $primary-color;
    height: 400px;
    padding: 0px 100px;
    gap: 80px;
  }

  &-title {
    color: $white-color;
  }
  &-text-container {
    flex: 50;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
  }
  &-img-container {
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .cta {
    &-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
      height: 100%;
      padding-top: 80px;
      // margin: 40px;
    }
  }
}
