$font-stack: 'Maven Pro', sans-serif;
$white-color: #ffff;
$primary-color: #DC4298;
$primary-dark-color: #b92d7c;
$gray-color: rgba(35, 15, 15, 0.2);
$font-black-color:#230F0F;
$font-blackgray-color: #0A0A0A;
$font-blackdark-color:  #090D2C;;
$font-gray-color: #4D4D4D;
$font-lightgray-color: #80848E;
