@import "/src/styles.scss";
@import "/src/app/app.component.scss";

.course-item {
  &-container {
    width: 370px;
    height: 480px;
    border: 1px solid #eceff4;
    border-radius: 8px;

  }
  &-image-container {
    color: $primary-color;
    height: 200px;
    background-size: auto;
    display: flex;
    align-items: flex-end;
  }
  &-enrollUsers-number {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: $primary-color;
    opacity: 0.8;
  }
  &-enrollUsers-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 6px 15px;
    background: #ffffff;
    border-radius: 20px;
    margin: 20px;
  }

  & .user-icon {
    font-size: 14px;
    color: #230f0f;
  }
  &-details-container{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
  }
  &-details-date {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #777795;
  }
  &-details-name {
    font-style: normal;
    font-weight: 800;
    font-size: 2.4em;
    line-height: 120%;
    letter-spacing: 0.4px;
    color: $font-blackgray-color;
  }
  &-details-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4d4d4d;
  }
  &-details-cost {
    font-weight: 700;
    font-size: 18px;
    color: $primary-color;
  }
  &-details-cost-discount {
    font-weight: 400;
    font-size: 16px;
    color: $font-lightgray-color;
    text-decoration: line-through;
  }
  &-btn {
    @extend .btn, .btn-border;
    font-size: 12px;
    padding: 8px 30px;
  }
  &-details-cost-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  &-details-bottom-container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
  }
}
